In [1]:
#Program 1: Reading in the data

In [2]:
#open file and read data
rawData = open("E:/Training/Certifications - LinkedIn/NLP/Dataset/SMSSpamCollection.tsv").read()

In [3]:
#print first 500 characters from 0 to 499 of the data
rawData[0:500]

"ham\tI've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.\nspam\tFree entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's\nham\tNah I don't think he goes to usf, he lives around here though\nham\tEven my brother is not like to speak with me. They treat me like aid"

In [4]:
#splitting data at \n into lists and replacing all occurance of \n with \t
parsedData = rawData.replace("\t","\n").split("\n")

In [5]:
#printing first 5 entries in parsed data
parsedData[0:5]

['ham',
 "I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.",
 'spam',
 "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's",
 'ham']

In [6]:
#creating a list of labels i.e. ham or spam
#0 defines to start from 0th position, space defines to consider all data till end and 2 defines to consider every alternate data in the source list
labelList = parsedData[0::2]
#creating a list of text i.e. messages
#1 defines to start from 1st position, space defines to consider all data till end and 2 defines to consider every alternate data in the source list
textList = parsedData[1::2]

In [7]:
#print keyword can be used explicitly to print every output defined withing bracket, without print jupyter notebook only considers last statement to print
print(labelList[0:5])
print(textList[0:5])

['ham', 'spam', 'ham', 'ham', 'ham']
["I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.", "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's", "Nah I don't think he goes to usf, he lives around here though", 'Even my brother is not like to speak with me. They treat me like aids patent.', 'I HAVE A DATE ON SUNDAY WITH WILL!!']

In [8]:
#creating a pandas dataframe - method 1
#checking if length of both lists is equal for creating a dataframe
print(len(labelList))
print(len(textList))

5571
5570

In [9]:
#checking the length mismatch
#[-5:] means to consider elements from -5 to last position (-1 in this case) in a list i.e. last 5 rows
print(labelList[-5:])

['ham', 'ham', 'ham', 'ham', '']

In [10]:
#creating a pandas dataframe
#[:-1] means to consider elements from first position to last second position in a list i.e. excluding last element (-1 in this case)
import pandas as pd
fullCorpus = pd.DataFrame({'Label':labelList[:-1],'Text':textList})

In [11]:
#printing first 5 rows of a dataframe
fullCorpus.head()

  Label                                               Text
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [12]:
#creating a pandas dataframe - method 2
df = pd.read_csv("E:/Training/Certifications - LinkedIn/NLP/Dataset/SMSSpamCollection.tsv",sep="\t",header=None,names=["Label","Text"])

In [13]:
#printing first 5 rows of a dataframe
df.head()

  Label                                               Text
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!